<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806306911425-crjhrnovcnn2li0tp54tj8h2oqa2pdd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806306911425-crjhrnovcnn2li0tp54tj8h2oqa2pdd2</string>
	<key>API_KEY</key>
	<string>AIzaSyA2sNqmEK3w2ZdMCHTvCy9a8oRdjLHovWI</string>
	<key>GCM_SENDER_ID</key>
	<string>806306911425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newHaloTask</string>
	<key>PROJECT_ID</key>
	<string>new-halo-task</string>
	<key>STORAGE_BUCKET</key>
	<string>new-halo-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806306911425:ios:5f59309c0af5fd203c7040</string>
</dict>
</plist>